@* Banner *@
<div>
    <img src="~/icon/about-banner.jpg" alt="banner" class="img-fluid">
</div>

@* About Teo *@
<div class="container pt-3 pb-3">
    <h3 class="sub-title text-center" style="color: var(--bs-green)">Giới thiệu</h2>
    <h2 class="title text-center" style="color: var(--bs-primary)">TẠI SAO NÊN CHỌN TÈO?</h2>
    <div class="about mt-4">
        <img class="about-logo" src="~/icon/TeoLogo.png" alt="Teo's logo">
        <div class="about-content mt-4">
            <h2 class="about-content-title">Xin chào! Mình tên là Tèo</h2>
            <p>“Rau Nhà Tèo” là cửa hàng chuyên cung cấp các loại sau sạch trên địa bàn Thành phố Cần Thơ. Rau được trồng theo mô hình nông nghiệp sạch với tiêu chí 4K, cam kết đem lại cho quý khách hàng những sản phẩm rau tươi an toàn cho sức khỏe. Hãy cùng trở thành những người tiêu dùng thông minh khi chọn sử dụng các sản phẩm Rau Nhà Tèo nhé!</p>
            <a class="btn btn-primary" href="<?= DOCUMENT_ROOT ?>/products">Ghé nhà Tèo</a>
        </div>
    </div>
</div>

@* About 4k standard *@
<div class="wrapper pt-3 pb-3" style="background-color: var(--body)!important;">
    <div class="container">
        <h3 class="sub-title text-center" style="color: var(--green)">Giới thiệu</h2>
        <h2 class="title text-center" style="color: var(--blue)">RAU SẠCH ĐẠT CHUẨN 4K</h2>
        <div class="organic">
            <div class="vege-4k pe-5 ps-5">
                <img class="me-2" src="~/icon/4k-1.jpg" alt="">
                <div class="vege-4k-content">
                    <p class="title-4k">Không thuốc trừ sâu</p>
                    <p class="content-4k">Rau Nhà Tèo được trồng trong nhà lưới Israel chống côn trùng xâm nhập, giám sát bằng công nghệ 4.0.</p>
                </div>
            </div>

            <div class="vege-4k ps-5 pe-5">
                <img class="me-2" src="~/icon/4k-2.jpg" alt="">
                <div class="vege-4k-content">
                    <p class="title-4k">Không chất tăng trưởng</p>
                    <p class="content-4k">Rau Nhà Tèo được trồng một cách tự nhiên như bạn tự trồng rau tại sân vườn nhà mình.</p>
                </div>
            </div>

            <div class="vege-4k pe-5 ps-5 vege-4k-mobile">
                <div class="vege-4k-content">
                    <p class="title-4k">Không chất bảo quản</p>
                    <p class="content-4k">Rau Nhà Tèo được đóng gói tại vườn và đến tay khách hàng tuyệt đối không sử dụng chất bảo quản nào.</p>
                </div>
                <img class="ms-2" src="~/icon/4k-3.jpg" alt="">
            </div>

            <div class="vege-4k ps-5 pe-5 vege-4k-mobile">
                <div class="vege-4k-content">
                    <p class="title-4k">Không giống biến đổi gen</p>
                    <p class="content-4k">Hạt giống sử dụng tại Rau Nhà Tèo được kiểm soát chặt chẽ nguồn gốc, đơn vị sản xuất, nhập khẩu và phân phối.</p>
                </div>
                <img class="ms-2" src="~/icon/4k-4.jpg" alt="">
            </div>
            
        </div>
    </div>
</div>

@* About guarantee *@
<div class="wrapper guarantee">
    <h3 class="sub-title text-center" style="color: var(--green)">Cam Kết</h2>
    <h2 class="title text-center" style="color: #fff">CAM KẾT CỦA NHÀ TÈO</h2>
    <h5 class="slogan" style="color: #fff">Nhà Tèo luôn mong muốn đem đến cho bạn những dịch vụ tốt nhất!</h5>
    <div class="guarantee-content ms-3" style="color: #fff">
        <div class="content-item">
            <h4 class="guarantee-title">MIỄN PHÍ VẬN CHUYỂN</h4>
            <p class="guarantee-des">Miễn phí giao hàng cho đơn hàng trên 500.000đ. Miễn phí giao hàng cho khách hàng thân thiết, miễn phí giao hàng nội ô Cần Thơ.</p>
        </div>
        <div class="content-item">
            <h4 class="guarantee-title">THANH TOÁN DỄ DÀNG</h4>
            <p class="guarantee-des">Thanh toán trực tiếp khi nhận hàng, thanh toán qua thẻ ngân hàng, ví điện tử.</p>
        </div>
        <div class="content-item">
            <h4 class="guarantee-title">HỖ TRỢ ONLINE 24/7</h4>
            <p class="guarantee-des">Khi có vấn đề cần trợ giúp, hãy gọi cho Tèo để được giúp đỡ. Số điện thoại 0123456789</p>
        </div>
    </div>
</div>